$background: #1c1c1c;
$background2: #383838;
$background3: white;

$accent: #ff0000;
$acc-hover:#ce0000;

$font: #1c1c1c;

@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@500&display=swap');

*{
    margin:0;
}
body{
    font-family: 'Chivo Mono', monospace;
    
}
.account-main{
    position: absolute;
    width:100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.account_box{
    position: relative;
    background-color: $background2;
    border-radius: 10px;
    opacity: 96%;
    display: flex;
    justify-content: center;
    width:60%;

    .login_form{
        width: max-content;
        height: 400px;
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

        h1{
            color:white;
            margin-bottom: 50px;
            font-size: 50px;
        }
        .remind_password{
            position: absolute;
            right:60px;
            top: 62%;

            a{
                color:white;
                text-decoration: none;
                font-size: 15px;
                justify-content: right;
                display: flex;
                float:right;
                transition: 0.5s;
            }
            a:hover{
                color:$accent;
            }
        }

        input{
            margin: 10px;
            height: 30px;
            width: 350px;
            text-indent: 10px;
            border-radius: 10px;
            outline: none;
            border: 2px solid $background2;
        }
        input[type="submit"]{
            width: 150px;
            margin-top: 50px;
        }
        input:focus{
            border: 2px solid $background;
        }
        .register{
            color:white;
        }
        .register_link{
            color:white;
            transition: 0.5s;
        }
        .register_link:hover{
            color:$accent;
        }
    }
}
.account-main-toggle{
    display: flex;
}
.body_blur{
    filter: blur(2px);
}


@media screen and (min-width:1024px) {
    header{
        background-color: $background;
        width: 100%;
        height: 150px;
    
        .header-sett{
            padding: 0 15px;
            height: 15%;
            background-color: $background2;
            display: flex;
            justify-content: right;
            align-items: center;
            // position: relative;
    
            a{
                color:white;
                text-decoration: none;
                margin: 20px;
                text-transform: uppercase;
    
                ion-icon{
                    position: relative;
                    top: 3px;
                }
            }


            .lang_box{
                background-color: $background2;
                position: absolute;
                width: 90px;
                top: 22px;
                right:23px;
                align-items: center;
                display: flex;
                flex-direction: column;
                transition: 0.5s;
                transform: scale(0) translateY(20px);
                transform-origin: top;
                z-index: 0;
                a{
                    display: flex;
                    font-size: 13px;
                    img{
                        width:18px;
                    }
                }
            }
            .lang_box-toggle{
                transform: scale(1) translateY(-5px);
                transform-style: flat;
            }
        }
        .header-main{
            padding: 0 15px;
            display:flex;
            justify-content: space-between;
            align-items: center;
            height: 85%;
            
            .logo{
                img{
                    width: 180px;
                }
            }
            .search-box{
                display:flex;
                input{
                    height: 40px;
                    width: 280px;
                    transition: 0.5s;
                    border:2px solid $background2;
                    background-color: transparent;
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                    outline:none;
                    color:white;
                    text-indent: 15px;
                }
                input:focus{
                    background-color: white;
                    color:$background;
                }
                button{
                    outline:none;
                    border: 2px solid $background2;
                    background-color: $background2;
                    width: 70px;
                    height: 40px;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                    transition: 0.5s;
                    cursor: pointer;
    
                    ion-icon{
                        font-size: 23px;
                        color:white;
                        transition: 0.5s;
                    }
                }
                button:hover{
                    opacity: 80%;
                }
                button:hover ion-icon{
                    font-size: 26px;
                }
    
            }
            .cart-box{
                height: 40px;
                box-sizing: border-box;
                border-radius: 5px;
                min-width:120px;
                width:max-content;
                padding: 5px;
                background-color: $accent;
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: 0.5s;
                cursor: pointer;
    
                ion-icon{
                    color:white;
                    font-size: 30px;
                }
                hr{
                    height: 100%;
                    background-color: $acc-hover;
                    border: 1px solid $acc-hover;
                    outline: none;
                    margin-right: 20px;
                }
                .cart-price{
                    text-align: right;
                    color:white;
                    font-size: 15px;
                }
                .cart-quantity{
                    color:$background2;
                    font-size: 15px;
                    z-index: 1;
                    font-weight: 600;
                    position: relative;
                    left: -3px;
                    top: 8px;
                }
            }
            .cart-box:hover{
                background-color: $acc-hover;
            }
        }
    }
    main{
        width: 100%;
        height: 80vh;
        position: relative;



    }
    footer{
        background-color: blue;
        width: 100%;
        height: 100px;
    }
}

@media screen and (min-width: 767px) and (max-width:1024px){
    header{
        background-color: $background;
        width: 100%;
        height: 150px;
    
        .header-sett{
            padding: 0 15px;
            height: 15%;
            background-color: $background2;
            display: flex;
            justify-content: right;
            align-items: center;
    
            a{
                color:white;
                text-decoration: none;
                margin: 20px;
                text-transform: uppercase;
    
                ion-icon{
                    position: relative;
                    top: 3px;
                }
            }
            
            .lang_box{
                background-color: $background2;
                position: absolute;
                width: 90px;
                top: 22px;
                right:23px;
                align-items: center;
                display: flex;
                flex-direction: column;
                transition: 0.5s;
                transform: scale(0) translateY(20px);
                transform-origin: top;
                z-index: 0;
                a{
                    display: flex;
                    font-size: 13px;
                    img{
                        width:18px;
                    }
                }
            }
            .lang_box-toggle{
                transform: scale(1) translateY(-5px);
                transform-style: flat;
            }
        }
        
        .header-main{
            padding: 0 15px;
            // background-color: red;
            display:flex;
            justify-content: space-between;
            align-items: center;
            height: 85%;
            
            .logo{
                img{
                    width: 180px;
                }
            }
            .search-box{
                display:flex;
                input{
                    height: 40px;
                    width: 280px;
                    transition: 0.5s;
                    border:2px solid $background2;
                    background-color: transparent;
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                    outline:none;
                    color:white;
                    text-indent: 15px;
                }
                input:focus{
                    background-color: white;
                    color:$background;
                }
                button{
                    outline:none;
                    border: 2px solid $background2;
                    background-color: $background2;
                    width: 70px;
                    height: 40px;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                    transition: 0.5s;
                    cursor: pointer;
    
                    ion-icon{
                        font-size: 23px;
                        color:white;
                        transition: 0.5s;
                    }
                }
                button:hover{
                    opacity: 80%;
                }
                button:hover ion-icon{
                    font-size: 26px;
                }
    
            }
            .cart-box{
                height: 40px;
                box-sizing: border-box;
                border-radius: 5px;
                min-width:120px;
                width:max-content;
                padding: 5px;
                background-color: $accent;
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: 0.5s;
                cursor: pointer;
    
                ion-icon{
                    color:white;
                    font-size: 30px;
                }
                hr{
                    height: 100%;
                    background-color: $acc-hover;
                    border: 1px solid $acc-hover;
                    outline: none;
                    margin-right: 20px;
                }
                .cart-price{
                    text-align: right;
                    color:white;
                    font-size: 15px;
                }
                .cart-quantity{
                    color:$background2;
                    font-size: 15px;
                    z-index: 1;
                    font-weight: 600;
                    position: relative;
                    left: -3px;
                    top: 8px;
                }
            }
            .cart-box:hover{
                background-color: $acc-hover;
            }
        }
    }
}

@media screen and (max-width: 767px){

    .account_box{
        position: relative;
        background-color: $background2;
        border-radius: 10px;
        opacity: 100%;
        display: flex;
        justify-content: center;
        width:90%;
    
        .login_form{
            width: max-content;
            height: 400px;
            padding: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
    
            h1{
                color:white;
                margin-bottom: 50px;
                font-size: 13vw;
            }
            .remind_password{
                position: unset;

    
                a{
                    color:white;
                    text-decoration: none;
                    font-size: 15px;
                    justify-content: right;
                    display: flex;
                    float:right;
                }
            }                
    
            input{
                margin: 10px;
                height: 30px;
                width: 80%;
                text-indent: 10px;
                border-radius: 10px;
                outline: none;
                border: 2px solid $background2;
            }
            input[type="submit"]{
                width: 150px;
                margin-top: 50px;
            }
            input:focus{
                border: 2px solid $background;
            }
            .register{
                color:white;
                display: flex;
                flex-direction: column;
            }
            .register_link{
                color:white;
                transition: 0.5s;
            }
            .register_link:hover{
                color:$accent;
            }
        }
    }

    header{
        background-color: $background;
        width: 100%;
        height:300px;
    
        .header-sett{
            padding: 0 15px;
            height: 15%;
            background-color: $background2;
            display: flex;
            flex-direction: row;
            justify-content:center;
            align-items: center;
    
            a{
                color:white;
                text-decoration: none;
                margin: 5%;
                text-transform: uppercase;
    
                ion-icon{
                    position: absolute;
                }
            }
            .lang_box{
                background-color: $background2;
                position: absolute;
                width: 100%;
                top: 40px;
                right:unset;
                align-items: center;
                display: flex;
                flex-direction: column;
                transition: 0.5s;
                transform: scaleY(0) translateY(10px);
                transform-origin: top;
                z-index: 0;
                a{
                    display: flex;
                    font-size: 13px;
                    img{
                        width:18px;
                    }
                }
            }
            .lang_box-toggle{
                transform: scaleY(1) translateY(-10px);
                transform-style: flat;
            }
        }
        .header-main{
            padding: 0px;
            display:flex;
            justify-content: center;
            align-items: center;
            height: 85%;
            flex-direction: column;
            
            .logo{
                margin-top: 0px;
                margin-bottom: 10px;
                img{
                    width: 180px;
                }
            }
            .search-box{
                display:flex;
                justify-content: center;
                width: 100%;
                margin-bottom: 10px;
                input{
                    height: 40px;
                    min-width: 100px;
                    width: 60%;
                    transition: 0.5s;
                    border:2px solid $background2;
                    background-color: transparent;
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                    outline:none;
                    color:white;
                    text-indent: 15px;
                }
                input:focus{
                    background-color: white;
                    color:$background;
                }
                button{
                    outline:none;
                    border: 2px solid $background2;
                    background-color: $background2;
                    width: 70px;
                    height: 40px;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                    transition: 0.5s;
                    cursor: pointer;
    
                    ion-icon{
                        font-size: 23px;
                        color:white;
                        transition: 0.5s;
                    }
                }
                button:hover{
                    opacity: 80%;
                }
                button:hover ion-icon{
                    font-size: 26px;
                }
    
            }
            .cart-box{
                height: 40px;
                box-sizing: border-box;
                border-radius: 5px;
                min-width:120px;
                width:max-content;
                padding: 5px;
                background-color: $accent;
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: 0.5s;
                cursor: pointer;
    
                ion-icon{
                    color:white;
                    font-size: 30px;
                }
                hr{
                    height: 100%;
                    background-color: $acc-hover;
                    border: 1px solid $acc-hover;
                    outline: none;
                    margin-right: 20px;
                }
                .cart-price{
                    text-align: right;
                    color:white;
                    font-size: 15px;
                }
                .cart-quantity{
                    color:$background2;
                    font-size: 15px;
                    z-index: 1;
                    font-weight: 600;
                    position: relative;
                    left: -3px;
                    top: 8px;
                }
            }
            .cart-box:hover{
                background-color: $acc-hover;
            }
        }
    }
}