@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@500&display=swap");
* {
  margin: 0;
}

body {
  font-family: "Chivo Mono", monospace;
}

@keyframes accountbox {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@media screen and (min-width: 1024px) {
  .account-main {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .account-main .account_box {
    position: relative;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
    transition: 0.5s;
  }
  .account-main .account_box .login_form {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80%;
    justify-content: center;
    align-self: center;
  }
  .account-main .account_box .login_form .input-title {
    margin-bottom: 5px;
  }
  .account-main .account_box .login_form input {
    height: 40px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: #ececec;
    text-indent: 15px;
    caret-color: #ff0000;
  }
  .account-main .account_box .login_form input[type=submit] {
    margin-top: 20px;
    background-color: #ff0000;
  }
  .account-main .account_box .login_form .form_sett {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .account-main .account_box .login_form .form_sett .rememberme {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 15px;
    width: max-content;
  }
  .account-main .account_box .login_form .form_sett .rememberme p {
    font-size: 15px;
    transition: 0.5s;
  }
  .account-main .account_box .login_form .form_sett .rememberme p:hover {
    color: #ff0000;
  }
  .account-main .account_box .login_form .form_sett .rememberme input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .account-main .account_box .login_form .form_sett .rememberme .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    height: 18px;
    width: 18px;
    background-color: #ececec;
  }
  .account-main .account_box .login_form .form_sett .rememberme input:checked ~ .checkmark:after {
    display: block;
  }
  .account-main .account_box .login_form .form_sett .rememberme input:checked ~ p {
    color: #ff0000;
  }
  .account-main .account_box .login_form .form_sett .rememberme .checkmark:after {
    left: 5.5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .account-main .account_box .login_form .form_sett .rememberme:hover input ~ .checkmark {
    background-color: #ececec;
  }
  .account-main .account_box .login_form .form_sett .rememberme input:checked ~ .checkmark {
    background-color: #ff0000;
  }
  .account-main .account_box .login_form .form_sett .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .account-main .account_box .login_form .form_sett .remind_pass {
    color: #1c1c1c;
    text-decoration: none;
    transition: 0.5s;
    font-size: 15px;
  }
  .account-main .account_box .login_form .form_sett .remind_pass:hover {
    color: #ff0000;
  }
  .account-main .account_box .reg {
    display: flex;
  }
  .account-main .account_box .reg .register-link {
    color: #1c1c1c;
    text-decoration: none;
    margin-left: 5px;
    transition: 0.5s;
  }
  .account-main .account_box .reg .register-link:hover {
    color: #ff0000;
  }
  .account-main-toggle {
    display: flex;
    animation-name: accountbox;
    animation-duration: 1s;
  }
  .body_blur {
    filter: blur(2px);
  }
  header {
    background-color: #1c1c1c;
    width: 100%;
    height: 150px;
  }
  header .header-sett {
    padding: 0 15px;
    height: 15%;
    background-color: #383838;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  header .header-sett a {
    color: white;
    text-decoration: none;
    margin: 20px;
    text-transform: uppercase;
  }
  header .header-sett a ion-icon {
    position: relative;
    top: 3px;
  }
  header .header-sett .lang_box {
    background-color: #383838;
    position: absolute;
    width: 90px;
    top: 22px;
    right: 23px;
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    transform: scale(0) translateY(20px);
    transform-origin: top;
    z-index: 0;
  }
  header .header-sett .lang_box a {
    display: flex;
    font-size: 13px;
  }
  header .header-sett .lang_box a img {
    width: 18px;
  }
  header .header-sett .lang_box-toggle {
    transform: scale(1) translateY(-5px);
    transform-style: flat;
  }
  header .header-main {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85%;
  }
  header .header-main .logo img {
    width: 180px;
  }
  header .header-main .search-box {
    display: flex;
  }
  header .header-main .search-box input {
    height: 40px;
    width: 280px;
    transition: 0.5s;
    border: 2px solid #383838;
    background-color: transparent;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    outline: none;
    color: white;
    text-indent: 15px;
  }
  header .header-main .search-box input:focus {
    background-color: white;
    color: #1c1c1c;
  }
  header .header-main .search-box button {
    outline: none;
    border: 2px solid #383838;
    background-color: #383838;
    width: 70px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: 0.5s;
    cursor: pointer;
  }
  header .header-main .search-box button ion-icon {
    font-size: 23px;
    color: white;
    transition: 0.5s;
  }
  header .header-main .search-box button:hover {
    opacity: 80%;
  }
  header .header-main .search-box button:hover ion-icon {
    font-size: 26px;
  }
  header .header-main .cart-box {
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    min-width: 120px;
    width: max-content;
    padding: 5px;
    background-color: #ff0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
  }
  header .header-main .cart-box ion-icon {
    color: white;
    font-size: 30px;
  }
  header .header-main .cart-box hr {
    height: 100%;
    background-color: #ce0000;
    border: 1px solid #ce0000;
    outline: none;
    margin-right: 20px;
  }
  header .header-main .cart-box .cart-price {
    text-align: right;
    color: white;
    font-size: 15px;
  }
  header .header-main .cart-box .cart-quantity {
    color: #383838;
    font-size: 15px;
    z-index: 1;
    font-weight: 600;
    position: relative;
    left: -3px;
    top: 8px;
  }
  header .header-main .cart-box:hover {
    background-color: #ce0000;
  }
  main {
    width: 100%;
    height: 80vh;
    position: relative;
  }
  footer {
    background-color: blue;
    width: 100%;
    height: 100px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .account-main {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .account-main .account_box {
    position: relative;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
    transition: 0.5s;
  }
  .account-main .account_box .login_form {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80%;
    justify-content: center;
    align-self: center;
  }
  .account-main .account_box .login_form .input-title {
    margin-bottom: 5px;
  }
  .account-main .account_box .login_form input {
    height: 40px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: #ececec;
    text-indent: 15px;
    caret-color: #ff0000;
  }
  .account-main .account_box .login_form input[type=submit] {
    margin-top: 20px;
    background-color: #ff0000;
  }
  .account-main .account_box .login_form .form_sett {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .account-main .account_box .login_form .form_sett .rememberme {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 15px;
    width: max-content;
  }
  .account-main .account_box .login_form .form_sett .rememberme p {
    font-size: 15px;
    transition: 0.5s;
  }
  .account-main .account_box .login_form .form_sett .rememberme p:hover {
    color: #ff0000;
  }
  .account-main .account_box .login_form .form_sett .rememberme input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .account-main .account_box .login_form .form_sett .rememberme .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    height: 18px;
    width: 18px;
    background-color: #ececec;
  }
  .account-main .account_box .login_form .form_sett .rememberme input:checked ~ .checkmark:after {
    display: block;
  }
  .account-main .account_box .login_form .form_sett .rememberme input:checked ~ p {
    color: #ff0000;
  }
  .account-main .account_box .login_form .form_sett .rememberme .checkmark:after {
    left: 5.5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .account-main .account_box .login_form .form_sett .rememberme:hover input ~ .checkmark {
    background-color: #ececec;
  }
  .account-main .account_box .login_form .form_sett .rememberme input:checked ~ .checkmark {
    background-color: #ff0000;
  }
  .account-main .account_box .login_form .form_sett .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .account-main .account_box .login_form .form_sett .remind_pass {
    color: #1c1c1c;
    text-decoration: none;
    transition: 0.5s;
    font-size: 15px;
  }
  .account-main .account_box .login_form .form_sett .remind_pass:hover {
    color: #ff0000;
  }
  .account-main .account_box .reg {
    display: flex;
  }
  .account-main .account_box .reg .register-link {
    color: #1c1c1c;
    text-decoration: none;
    margin-left: 5px;
    transition: 0.5s;
  }
  .account-main .account_box .reg .register-link:hover {
    color: #ff0000;
  }
  .account-main-toggle {
    display: flex;
    animation-name: accountbox;
    animation-duration: 1s;
  }
  .body_blur {
    filter: blur(2px);
  }
  header {
    background-color: #1c1c1c;
    width: 100%;
    height: 150px;
  }
  header .header-sett {
    padding: 0 15px;
    height: 15%;
    background-color: #383838;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  header .header-sett a {
    color: white;
    text-decoration: none;
    margin: 20px;
    text-transform: uppercase;
  }
  header .header-sett a ion-icon {
    position: relative;
    top: 3px;
  }
  header .header-sett .lang_box {
    background-color: #383838;
    position: absolute;
    width: 90px;
    top: 22px;
    right: 23px;
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    transform: scale(0) translateY(20px);
    transform-origin: top;
    z-index: 0;
  }
  header .header-sett .lang_box a {
    display: flex;
    font-size: 13px;
  }
  header .header-sett .lang_box a img {
    width: 18px;
  }
  header .header-sett .lang_box-toggle {
    transform: scale(1) translateY(-5px);
    transform-style: flat;
  }
  header .header-main {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85%;
  }
  header .header-main .logo img {
    width: 180px;
  }
  header .header-main .search-box {
    display: flex;
  }
  header .header-main .search-box input {
    height: 40px;
    width: 280px;
    transition: 0.5s;
    border: 2px solid #383838;
    background-color: transparent;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    outline: none;
    color: white;
    text-indent: 15px;
  }
  header .header-main .search-box input:focus {
    background-color: white;
    color: #1c1c1c;
  }
  header .header-main .search-box button {
    outline: none;
    border: 2px solid #383838;
    background-color: #383838;
    width: 70px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: 0.5s;
    cursor: pointer;
  }
  header .header-main .search-box button ion-icon {
    font-size: 23px;
    color: white;
    transition: 0.5s;
  }
  header .header-main .search-box button:hover {
    opacity: 80%;
  }
  header .header-main .search-box button:hover ion-icon {
    font-size: 26px;
  }
  header .header-main .cart-box {
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    min-width: 120px;
    width: max-content;
    padding: 5px;
    background-color: #ff0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
  }
  header .header-main .cart-box ion-icon {
    color: white;
    font-size: 30px;
  }
  header .header-main .cart-box hr {
    height: 100%;
    background-color: #ce0000;
    border: 1px solid #ce0000;
    outline: none;
    margin-right: 20px;
  }
  header .header-main .cart-box .cart-price {
    text-align: right;
    color: white;
    font-size: 15px;
  }
  header .header-main .cart-box .cart-quantity {
    color: #383838;
    font-size: 15px;
    z-index: 1;
    font-weight: 600;
    position: relative;
    left: -3px;
    top: 8px;
  }
  header .header-main .cart-box:hover {
    background-color: #ce0000;
  }
}
@media screen and (max-width: 767px) {
  .account-main {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .account-main .account_box {
    position: relative;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
    transition: 0.5s;
  }
  .account-main .account_box .login_form {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-self: center;
  }
  .account-main .account_box .login_form .input-title {
    margin-bottom: 5px;
  }
  .account-main .account_box .login_form input {
    height: 40px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: #ececec;
    text-indent: 15px;
    caret-color: #ff0000;
  }
  .account-main .account_box .login_form input[type=submit] {
    margin-top: 20px;
    background-color: #ff0000;
  }
  .account-main .account_box .login_form .form_sett {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .account-main .account_box .login_form .form_sett .rememberme {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 15px;
    width: max-content;
  }
  .account-main .account_box .login_form .form_sett .rememberme p {
    font-size: 15px;
    transition: 0.5s;
  }
  .account-main .account_box .login_form .form_sett .rememberme p:hover {
    color: #ff0000;
  }
  .account-main .account_box .login_form .form_sett .rememberme input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .account-main .account_box .login_form .form_sett .rememberme .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    height: 18px;
    width: 18px;
    background-color: #ececec;
  }
  .account-main .account_box .login_form .form_sett .rememberme input:checked ~ .checkmark:after {
    display: block;
  }
  .account-main .account_box .login_form .form_sett .rememberme input:checked ~ p {
    color: #ff0000;
  }
  .account-main .account_box .login_form .form_sett .rememberme .checkmark:after {
    left: 5.5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .account-main .account_box .login_form .form_sett .rememberme:hover input ~ .checkmark {
    background-color: #ececec;
  }
  .account-main .account_box .login_form .form_sett .rememberme input:checked ~ .checkmark {
    background-color: #ff0000;
  }
  .account-main .account_box .login_form .form_sett .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .account-main .account_box .login_form .form_sett .remind_pass {
    color: #1c1c1c;
    text-decoration: none;
    transition: 0.5s;
    font-size: 13px;
  }
  .account-main .account_box .login_form .form_sett .remind_pass:hover {
    color: #ff0000;
  }
  .account-main .account_box .reg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .account-main .account_box .reg .register-link {
    color: #1c1c1c;
    text-decoration: none;
    margin-left: 5px;
    transition: 0.5s;
  }
  .account-main .account_box .reg .register-link:hover {
    color: #ff0000;
  }
  .account-main-toggle {
    display: flex;
    animation-name: accountbox;
    animation-duration: 1s;
  }
  .body_blur {
    filter: blur(2px);
  }
  header {
    background-color: #1c1c1c;
    width: 100%;
    height: 300px;
  }
  header .header-sett {
    padding: 0 15px;
    height: 15%;
    background-color: #383838;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  header .header-sett a {
    color: white;
    text-decoration: none;
    margin: 5%;
    text-transform: uppercase;
  }
  header .header-sett a ion-icon {
    position: absolute;
  }
  header .header-sett .lang_box {
    background-color: #383838;
    position: absolute;
    width: 100%;
    top: 40px;
    right: unset;
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    transform: scaleY(0) translateY(10px);
    transform-origin: top;
    z-index: 0;
  }
  header .header-sett .lang_box a {
    display: flex;
    font-size: 13px;
  }
  header .header-sett .lang_box a img {
    width: 18px;
  }
  header .header-sett .lang_box-toggle {
    transform: scaleY(1) translateY(-10px);
    transform-style: flat;
  }
  header .header-main {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    flex-direction: column;
  }
  header .header-main .logo {
    margin-top: 0px;
    margin-bottom: 10px;
  }
  header .header-main .logo img {
    width: 180px;
  }
  header .header-main .search-box {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
  }
  header .header-main .search-box input {
    height: 40px;
    min-width: 100px;
    width: 60%;
    transition: 0.5s;
    border: 2px solid #383838;
    background-color: transparent;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    outline: none;
    color: white;
    text-indent: 15px;
  }
  header .header-main .search-box input:focus {
    background-color: white;
    color: #1c1c1c;
  }
  header .header-main .search-box button {
    outline: none;
    border: 2px solid #383838;
    background-color: #383838;
    width: 70px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: 0.5s;
    cursor: pointer;
  }
  header .header-main .search-box button ion-icon {
    font-size: 23px;
    color: white;
    transition: 0.5s;
  }
  header .header-main .search-box button:hover {
    opacity: 80%;
  }
  header .header-main .search-box button:hover ion-icon {
    font-size: 26px;
  }
  header .header-main .cart-box {
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    min-width: 120px;
    width: max-content;
    padding: 5px;
    background-color: #ff0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
  }
  header .header-main .cart-box ion-icon {
    color: white;
    font-size: 30px;
  }
  header .header-main .cart-box hr {
    height: 100%;
    background-color: #ce0000;
    border: 1px solid #ce0000;
    outline: none;
    margin-right: 20px;
  }
  header .header-main .cart-box .cart-price {
    text-align: right;
    color: white;
    font-size: 15px;
  }
  header .header-main .cart-box .cart-quantity {
    color: #383838;
    font-size: 15px;
    z-index: 1;
    font-weight: 600;
    position: relative;
    left: -3px;
    top: 8px;
  }
  header .header-main .cart-box:hover {
    background-color: #ce0000;
  }
}/*# sourceMappingURL=style.css.map */